web/.eslintcache
.idea
pkg/rgbmatrix-rpi/lib/rpi-rgb-led-matrix/
pkg/rgbmatrix-rpi/lib/rpi-rgb-led-matrix.armv6l/
pkg/rgbmatrix-rpi/lib/rpi-rgb-led-matrix.arm7/
sportsmatrix.bin
sportsmatrix.arm*
*.swp
.cache
*.o
*.a
*~
*.so
.DS_Store
.vscode
web/src/config.json
web/build
