tmp/
web/.eslintcache
.idea
internal/rgbmatrix-rpi/lib/rpi-rgb-led-matrix/
internal/rgbmatrix-rpi/lib/rpi-rgb-led-matrix.*
!internal/rgbmatrix-rpi/lib/rpi-rgb-led-matrix.BASE/
sportsmatrix.bin
sportsmatrix.arm*
sportsmatrix.aar*
*.swp
.cache
*.o
*.a
*~
*.so
.DS_Store
.vscode
web/src/config.json
web/build
docs-base/
.dockerconfig/
*.deb
*.build
matrix.conf
release
update-matrix
test-matrix
test-office
update-office
internal/sportsmatrix/assets/web
