name: Go

on:
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up QEMU
      id: qemu
      uses: docker/setup-qemu-action@v2.0.0
      with:
        image: tonistiigi/binfmt:latest
        platforms: all

    - name: Lint
      run: ./script/lint

    - name: Test
      run: ./script/test

    - name: Web Build
      run: ./script/web-build

    - name: Build
      run: ./script/build
