name: Release
on:
  push:
    tags:
    - 'v*'

env:
  VERSION: ${{ github.ref_name }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up QEMU
      id: qemu
      uses: docker/setup-qemu-action@v2.2.0
      with:
        image: tonistiigi/binfmt:latest
        platforms: all

    - name: Lint
      run: ./script/lint

    - name: Test
      run: ./script/test

    - uses: actions/setup-node@v3
      with:
        node-version-file: '.nvmrc'
        cache: 'npm'
        cache-dependency-path: "web/package-lock.json"

    - run: npm ci
      working-directory: "./web"

    - run: npm run build
      working-directory: "./web"

    - name: Build
      run: ./script/release-all

    - uses: ncipollo/release-action@v1
      with:
        artifacts: "*.deb"
        generateReleaseNotes: true
        prerelease: ${{ contains(github.ref_name, 'beta') }}
